<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{id}(id = ${user.getId()})}" th:object="${user}">
    <label for="firstname">Enter name:</label>
    <input type="text" th:field="*{firstName}" id="firstname" />
    <br/>
    <label for="lastname">Enter lastname:</label>
    <input type="text" th:field="*{lastName}" id="lastname" />
    <br/>
    <label for="email">Enter email:</label>
    <input type="text" th:field="*{email}" id="email" />
    <br/>
    <input type="submit" value="Update!" />
</form>

</body>
</html>